{% extends "layout.html" %}
{% block content %}
<div style="color: #63db58;">
    <br/>
    <div class="d-flex justify-content-between"> 
        <h4>Personagens do episódio {{dados.name}}</h4>
    </div>
    <br/>
    <div class="row ">

        {% for idt in dados.characters_ids %}
        <div class="col-xl-2 col-lg-3 col-sm-4 col-6 py-3" >
            <a href="/personagem/{{idt}}" >
                <img style="background-color: #63db58;" src="https://rickandmortyapi.com/api/character/avatar/{{idt}}.jpeg" alt="personagem do episódio" class="img-fluid img-thumbnail border-0"/>
            </a>
        </div>
        {% endfor %}
    </div>    
</div>
{% endblock %}