{% extends "layout.html" %}
{% block content %}
<div style="margin-top: 20px;">
    <a class="btn btn-sm mt-3" style="background-color: #63db58;"
    href="javascript:history.back()">voltar</a>
</div>

<h2 class="color-primary text-center mt-3 mb-2">Episódio</h2>

<div class="row mt-3">
    <div>
        <p class="color-primary fs-5">Episódio: {{dados.name}}</p>
        <p class="color-primary fs-5">Lançamento: {{dados.air_date}}</p>
        <p class="color-primary fs-5">Código: {{dados.episode}}</p>
        <p class="color-primary fs-5">Personagens:</p>
    </div>

    {% for personagem in dados.personagens %}
    <div class="col-xl-2 col-lg-3 col-sm-4 col-6 mt-3">
        <div class="text-center rounded" >
            <a href="{{ url_for('personagem', idt = personagem.id) }}" class="text-decoration-none text-dark rounded-bottom border-0" >
                <img src="https://rickandmortyapi.com/api/character/avatar/{{personagem.id}}.jpeg" alt="personagem"  class="img-fluid  bg-transparent rounded-top " style="border: solid 1px #63db58;" />
                    <p class="rounded-bottom " style="background-color: #63db58; ">{{personagem.name}}</p>                    
                </a>
        </div>    
    </div>
    {% endfor %}
</div>
{% endblock %}