{% extends "layout.html" %}

{% block content %}

<div class="d-flex justify-content-between"> 
{% if page > 1 %}

    <a href="{{ url_for('episodios', page = page-1)}}"class="btn btn-sm mt-3" style="background-color: #63db58;">voltar</a>
{% else %}
<span>&nbsp;</span>
{% endif %}
{% if page < dados.info.pages %}
    <a href="{{ url_for('episodios', page = page+1)}}" class="btn btn-sm mt-3" style="background-color: #63db58;">próximo</a>
{% endif %}
</div>

<div class="d-flex flex-row justify-content-center">
    <img src="../static/episode.webp" width="250px" height="250px" style="border-radius: 50%;"/>
</div>
<h4 style="color: #63db58; text-align: center; margin-bottom: 8px;">Episódios</h4>
<div class="table-responsive mt-5">
  <table class="table table-dark table-hover opacity-75">
      <thead class="text-info">
        <tr >
          <th scope="col">id</th>
          <th scope="col">Nome do episódio</th>
          <th scope="col">Lançamento</th>
        </tr>
      </thead>
      <tbody>
          {% for episodio in dados.results%}
        <tr onclick="window.location='/personagens_do_episodio/{{episodio.id}}';"> 
          <td><a href="{{ url_for('personagens_do_episodio', idt = episodio.id)}}" class="color-primary text-decoration-none">{{episodio.id}}</a></td>    
          <td><a href="{{ url_for('personagens_do_episodio', idt = episodio.id)}}" class="color-primary text-decoration-none">{{episodio.name}}</a></td>    
          <td><a href="{{ url_for('personagens_do_episodio', idt = episodio.id)}}" class="color-primary text-decoration-none">{{episodio.air_date}}</a></td>    
        </tr>
        {% endfor %}
      </tbody>
  </table>
  </div>
{% endblock %}