{% extends "layout.html" %}
{% block content %}

<div class="d-flex justify-content-between"> 
    {% if page > 1 %}
        <a href="/localizacoes/{{page-1}}" class="btn btn-sm mt-3" style="background-color: #63db58;">voltar</a>
    {% else %}
    <span>&nbsp;</span>
    {% endif %}
    {% if page < dados.info.pages %}
        <a href="/localizacoes/{{page+1}}" class="btn btn-sm mt-3" style="background-color: #63db58;">próximo</a>
    {% endif %}
    
</div>

<div class="d-flex flex-row justify-content-center">
    <img src="../static/planetas.jpg" width="250px" height="250px" style="border-radius: 50%;"/>
</div>
<h4 style="color: #63db58; text-align: center; margin-bottom: 8px;">Localizações</h4>

<div class="table-responsive mt-5">
    <table class="table table-dark table-hover opacity-75">
        <thead class="text-info">
          <tr >
            <th scope="col">Nome</th>
            <th scope="col">Tipo</th>
            <th scope="col">Dimensão</th>
          </tr>
        </thead>
        <tbody>
            {% for local in dados.results%}
            <tr onclick="window.location='/localizacao/{{local.id}}';"> 
            <td><a href="{{ url_for('localizacao', idt = local.id)}}" class="color-primary text-decoration-none">{% if local.name != 'unknown' %}{{local.name}} {% else %} desconhecido {% endif %}</a></td>    
            <td><a href="{{ url_for('localizacao', idt = local.id)}}" class="color-primary text-decoration-none">{% if local.type != 'unknown' %}{{local.type}} {% else %} desconhecido {% endif %}</a></td>    
            <td><a href="{{ url_for('localizacao', idt = local.id)}}" class="color-primary text-decoration-none">{% if local.dimension != 'unknown' %}{{local.dimension}} {% else %} desconhecida {% endif %}</a></td>    
          </tr>
          {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}